* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #E06BFF;
	color: #89121D;
    font-family: 'Work Sans',
   
	
}

p{color: #ffffff;}

h1 {
	color:transparent;
	text-shadow: -1px -1px #ffffff;
}


/* ? ----- PORTADA ----- */
.portada {
	width: 100%;
	background: #FF6B85;

	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo {
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}



/* ? ----- MAIN ----- */
main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 60px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background: #ffffff;
	width: 180px;
	height: 180px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 30px;
}
p {
    font-size: 2rem;
    text-shadow: 0 0 5px;
    text-shadow: 1 1 5px #ffffff;
}
.oculta {
    display: none;
}
